.tbivideo-directcss{
    width: 100%;
    height: 80vh;
    object-fit: cover;
 
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* or whatever height you want */
    overflow: hidden;
  }
  
  .tbivideo-directcss {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 30%);
    pointer-events: none; /* So clicks go through to navbar or below */
  }
  