.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s; /* Adjust delay if needed */
  }
  
  .fade-in:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .fade-in:nth-child(3) {
    animation-delay: 0.9s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14em;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7vw;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
  }
  

  @media (min-width: 768px) {
    .content-wrapper {
      flex-direction: row;
    }
  }
  .second-nd-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 7vw;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: -10vh;

  }
  
  .image-container {
    position: relative;
    width: 100%;
    max-width: 40vw;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    border: 8px solid #A30D33;
  border-radius: 12px;
  margin-top: -2em;
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 12px; */
  }
  
  .text-content {
    width: 100%;
    max-width: 40%;
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 1.75;
    margin-top: -3.5em;
  }
  
  .section-title {
    color: white;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: -1.6em;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
    animation-delay: 0.3s;
  }
  .second-nd-content-wrapper-heading{
    color: black;
  }
  .mt-6 {
    /* margin-top: 24px; */
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
@media (max-width:480px) {
  

  .css-tfcta-MuiGrid-root {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: calc(-1* 32px);
    width: calc(100% + 0px);
    margin-left: calc(-1* 32px);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}
.chairmans-main-paragraph{
  font-size: 4vw;
}
}