.new-design-programcss{
    width: 100%;
    /* height: 40vw; */
    margin-top: 4vw;
    margin-bottom: 4vw;
    /* background-color: red; */
    /* z-index: 9999999999999999999; */
    /* opacity: 1; */
}

/* https://venturenest.onrender.com/events */