.mission-box{
    /* background-color: red; */
    height: auto;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

}
.mission-box-heading{
    font-size: 6vh;
    font-weight: 600;
    text-shadow:2px 2px 0px rgba(197, 73, 73, 0.6),5px 3.5px 1px rgb(217, 230, 203);
    color: rgb(133, 41, 41);
}
.mission-box-para{
    width: 60vw;
    font-weight: 600;
    font-size: 1vw;
    text-align: justify;

}