.hero-main-box{
    /* background-color:  #a00534; */
    /* padding-bottom: 2em; */
    /* padding-top: 2em; */
    /* margin-top: -5%; */
    /* margin-bottom: 4em; */
}
.hero-main-2{
    /* padding-top: 11vh; */
/* -bottom: 4em; */
}

@media (min-width:320px) and (max-width:480px) {

    .hero-main-box{
        height: 30vh;
    }
    .hero-main-2{
        height: 100%;
    }
    
}