.main-head-mainpage{

    /* text-shadow: 2px 2px 0px rgba(197, 73, 73, 0.6), 5px 3.5px 1px rgb(217, 230, 203); */
    /* color: rgb(133, 41, 41); */
    color: white;
    font-size: 3vw;
    /* text-shadow: 4px 2.5px 0px rgba(170, 8, 8, 0.6), 5px 3.5px 1px rgb(217, 230, 203); */
}
.mainpage-main-box{
    /* background-image: url("../../../../public/assets/partners-section-bg.jpg"); */
    /* background-image:  linear-gradient(to right, rgba(150, 34, 71, 0.9), rgba(150, 34, 71, 0.7), rgba(150, 34, 71, 0.5)),url("../../../../public/assets/mission-image-cgc.png"); */
    /* background-image: url("../../../../public/assets/corosuel-bg.png"); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
 height: 8vw !important;
 /* margin-top: -10em; */
 /* padding-top: 4vw !important; */
 z-index: 2;
}
@media (min-width:320px) and (max-width:480px) {

    .main-head-mainpage{
        font-size: 4vh;
        margin-top: 40vw;
    }
    .mainpage-main-box{
        height: 12vh;
    }
    

}


.mainpage-main-box {
  height: 100vh; /* Full screen height */
  background: linear-gradient(135deg, #a6284b, #6e1d30); /* Maroon gradient */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  padding: 20px;
}

.main-head-mainpage {
  font-size: 3rem; /* Large heading font size */
  font-weight: 700; /* Extra bold */
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Soft shadow for glow effect */
  letter-spacing: 2px;
  line-height: 1.2;
}
