.recognitions-main-container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 2em;
  }
  
  .recognitions-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: cente;
    align-items: center;
    /* background-color: rgba(223, 223, 223, 1); */
    background-color: white;
    width: 80vw;
    border-radius: 40px;
    padding: 2em;
    gap: 2em;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border: 8px solid #A30D33;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .recognitions-box:hover {
    transform: scale(1.03);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }
  
  .recognitions-description {
    flex: 1;
    width: 100%;
    max-width: 100%;
    text-align: left;
    transition: opacity 0.5s ease;
  }
  
  .recognitions-main-head {
    color: #d7263d;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  
  .recognitions-para {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .recognition-img {
    height: auto;
    border: 8px solid #A30D33;
    max-width: 40vw;
    width: 20vw;
    /* border: 2px solid rgb(209, 200, 200); */
    border-radius: 20px;
    object-fit: contain;
    transition: transform 0.8s ease;
  }
  .recognitions-image-div{
    
    /* border: 6px solid #A30D33; */
    /* border-radius: 30px; */
  }
  
  .recognition-img:hover {
    transform: scale(1.15);
  }
  
  .even-recognitions-box {
    /* flex-direction: row-reverse; */
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .recognitions-box {
      flex-direction: column;
      width: 95vw;
    }
  
    .recognitions-description {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .recognitions-box {
      padding: 1em;
    }
  
    .recognitions-main-head {
      font-size: 1.2rem;
    }
  
    .recognitions-para {
      font-size: 0.9rem;
    }
  }
  